---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Vybewright Official Page";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Vybewright</h1>

    <p><a href="https://www.google.com">music</a></p>
    <p class="pb-6"><a href="https://www.youtube.com/@vybewright/streams">youtube</a></p>

    <hr>

    <p class="pt-8"><a href="/blog">blog</a></p>
    <p><a rel="me" href="https://sunny.garden/@vybewright">mastadon</a></p>
    <p class="pb-6"><a href="https://www.instagram.com/vybewright/">instagram</a></p>

    <hr>

    <p class="pt-8"><a href="/connect">connect</a></p>
</BaseLayout>