---
const year = new Date().getFullYear()
---


<footer>
    <img src="https://tracker.metricool.com/c3po.jpg?hash=4f1eb8e7ac69fc2efd2c8fe6812dea11"/>
    <p class="text-xs">© {year} Vybewright Official Site | Designed by He Himself</p>
</footer>