---

import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/500.css";
import { fade, ViewTransitions } from 'astro:transitions'

import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;

const isHome = Astro.url.pathname === '/'
---

<html
    lang="en"
    transition:animate={fade({ duration: '1s' })}
>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="p:domain_verify" content="02aebc28a6309a095d637d54097d549f"/>
        <title>{pageTitle}</title>
    </head>
    <body class={`text-gray-500 dark:text-gray-100 ${ isHome ? 'is-home' : '' }`}>
    <div class="flex flex-col h-screen justify-between max-w-5xl mx-auto space-y-4 py-16 px-14 ">
            <main>
                <slot />
            </main>

            <Footer />
        </div>
        <!--<script>-->
        <!--    import "../scripts/menu.js";-->
        <!--</script>-->
        <script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"4f1eb8e7ac69fc2efd2c8fe6812dea11"})});</script>
    </body>
</html>